.navbar-nav{
  margin-left: auto;
}

.parrafo{
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
}

.titulo{
  text-align: left; 
  font-weight: 600;
}

.desplazamiento{
  position: relative;
  right: 145px;
}

.sombraBoton{
  box-shadow: 1px 1px 1px 1px green;
}

.sombraInput{
  box-shadow: 1px 1px 1px 1px grey;
}
